* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
	font-weight: bolder;
	color: #f47c48;
	text-decoration: none;
}

body {
	/* background-color: red; */
}
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


nav {
	width: 100%;
	height: 132px;
	box-shadow: 0 0 4px rgb(0 0 0 / 30%);

}

.logo-box img {
	width: 132px;
}

.hero-section {
	width: 100%;
	height: auto;
}
.hero-section img {
	width: 100%;
}
.links-nav {
	width: 70%;
	float: right;
	display: flex;
	padding-top: 70px;
	justify-content: space-evenly;

}

.logo-box {
	width: 30%;
	float: left;
}

.links-nav li {
	float: left;
	list-style: none;
}

footer {
	width: 100%;
	height: auto;
	padding: 60px 0.9% 60px 0.9%;
	

}
footer ul {
	width: 50%;
	float: right;
}

footer ul li {
	float: right;
	margin-left: 10%;

}
.copyrights {
	width: 50%;
	float: left;
}

.main-central {
	width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
	margin-top: 30px;

}
.cb {
	clear: both;
}
.box-content {
	flex: 1;
	text-align: center;
}
.box-content img {
	width: 100%;
}
.box-content p {
	padding: 10px;
}